/*

.off_button {
   background-color: red;
}

.on_button {
   background-color: green;
}

.toggle_button {
   background-color: grey;
}

.macro_button {
   background-color: blue;
}

*/

button {font-size: 72px;}

.divider{
    width:50px;
    height:auto;
    display:inline-block;
}